/* Variables */

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brend-dark: #465929;
  --color-brend-normal: #819857;
  --color-brend-light: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 830px;
$bp-desctop: 1200px;
