/* Chef section */

.chefs-section {
  .chefs-title {
    position: relative;
    margin: 0 auto 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }
  }

  .chefs-title::before,
  .chefs-title::after {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      width: 352px;
      bottom: 24px;
      border: 2px solid var(--color-brend-light);
      content: "";
    }
  }

  .chefs-title::before {
    left: 0;
  }

  .chefs-title::after {
    right: 0;
  }

  .chef-title {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }

  .chef-text {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
  }

  .chef-text:last-child {
    margin-bottom: 0;
  }

  .chefs-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 32px;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }

  .chefs-item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  .chef-card {
    display: flex;
    align-items: start;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      gap: 30px;
    }
  }

  .chef-photo {
    width: 160px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -8px 8px 0 0 var(--color-primary-light),
      -8px 8px 0 2px var(--color-secondary-dark);

    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      box-shadow: -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-secondary-dark);
    }
  }
}
