/* Hero section */

.hero-section {
  width: 100%;
  padding: 172px 0px;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/hero-section-background.jpg);

  @media screen and (min-width: $bp-tablet) {
    padding: 272px 0px;
  }

  &__button {
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__title {
    padding: 0;
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-weight: 900;
    font-size: 67px;
    line-height: 1;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 0;
      font-size: 100px;
      line-height: 1.5;
    }
  }

  &__title .accent {
    color: var(--color-brend-normal);
  }
}
